#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Popcorn Player
GenericName=Media player
Comment=Stream movie and tv-show torrents
Exec=popcorn-player %u
TryExec=popcorn-player
Icon=popcorn-player
Terminal=false
Type=Application
MimeType=x-scheme-handler/torrent;x-scheme-handler/magnet;
X-KDE-Protocols=torrent;magnet;
